{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>welcome</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body class="text-center" background="{% static 'picture/bg1.jpg' %}">
<main role="main" class="inner cover" style="margin-top:200px">
    <h1 class="cover-heading">welcome</h1>
    <br>
    <p class="lead">Welcome to personal blog, please give me some advice</p>
    <br>
    <a href="/blog" class="btn btn-lg btn-secondary">Browse Blog</a>
</main>
</body>
</html>
